

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white
}
.mynav a {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color:white;
}

.mynav a:hover {
    background-color: rgb(112, 112, 112);
}
.menuheaderr {
    background-color: rgb(236, 193, 111);
    width: 40%;
    text-align: center;
    margin-left: 30%;
    color:white;

}
h1 {
    color: white;
}

